<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mhmd.eeluproject">

    <uses-permission android:name="com.javapapers.currentlocationinmap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyhSPOESxE0MW1WZzIjKbVlJIHC3v-lL4"/>



        <activity
            android:name=".Activites.FirstPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activites.MainActivity" />
        <activity android:name=".Activites.UserEnter" />
        <activity android:name=".Activites.Registration" />
        <activity android:name=".Activites.Forgetpassword" />
        <activity android:name=".Activites.Home" />
        <activity android:name=".Activites.MyProfile" />
        <activity android:name=".Activites.Edit_Profile" />
        <activity android:name=".Activites.Change_Password" />
        <activity android:name=".Activites.Reminde_Phones" />
        <activity android:name=".Activites.Calender_Date" />
        <activity android:name=".Activites.My_Map_Activity"></activity>
    </application>

</manifest>